<!DOCTYPE html>
<html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Messenger (alpha) | {{receiver}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/personal_.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hover-min.css') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"/>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='person_.js') }}"></script>
  </head>
  <body>
    <div class="background">
  </div>
  <div class="content">
    <h2 id="receiver" name="{{receiver}}">Chat with {{receiver}}</h2>
    <div data-simplebar id="my-element" class="history">
      {% for message in hist_list %}
        {{message}}<br>
      {% endfor %}
    </div>
    <form action="" method="POST">
      <div id="username" type="text" class="username" name="{{login}}"></div>
      <input id="message" type="text" class="message" name="message" placeholder="Type here..."/>
      <button id="send" type="submit" placeholder="Send">Send</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript">
          var socket = io.connect('http://' + document.domain + ':5001');
          socket.on('connect', function() {
            socket.emit( 'personal', {
              data: 'User Connected'
            })
            var form = $('form').on('submit', function(e) {
              e.preventDefault()
              let user_name = $('#username').attr('name')
              let user_input = $('input.message').val()
              socket.emit('personal', {
                'user_name' : user_name,
                'message' : user_input
              })
              $('input.message').val('').focus()
            })
          })
          socket.on( 'response', function( msg ) {
            console.log( msg )
            if( typeof msg.user_name !== 'undefined' ) {
              $( 'div.simplebar-content' ).append( msg.user_name + ': ' + msg.message + '<br>' )
              var container = document.querySelector('#my-element .simplebar-content-wrapper');
              container.scrollTo({ top: 1000, behavior: "smooth" });
            }
          })
        </script>
    <a href="/chats" id="return" class="hvr-icon-back" role="back">Back
    <span href="/chats" id="arrow" class="material-icons hvr-icon">chevron_left</span>
    </a>
  </div>
  </body>
</html>
